@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}

body {
	--clr-primary-orange: hsl(360, 99%, 70%);
	--clr-greyscale-600: hsl(243, 14%, 26%);
	--clr-greyscale-800: hsl(249, 20%, 19%);
	--clr-greyscale-000: hsl(0, 0%, 100%);
	--clr-black: #353535;
	--clr-bg: rgb(237, 245, 255);
	font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	display: grid;
	place-items: center;
	min-height: 100dvh;
	color: var(--clr-black);
	background-color: var(--clr-bg);
}

main {
	width: min(100%, 600px);
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	overflow: clip;
}

.header__profile-pic {
	width: 75px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border: 2px solid white;
}

.header__profile-pic:nth-child(1) {
	z-index: 10;
}

.header__profile-pic-wrapper {
	display: grid;
	grid-template-columns: 50px 50px 50px;
}

main header {
	background-color: var(--clr-primary-orange);
	color: var(--clr-greyscale-000);
	padding: 1rem;
	display: flex;
	gap: 3rem;
}
.header__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.33rem;
}

.message-content {
	position: relative;
	z-index: 2;
}
.message-content::after {
	content: "";
	width: 20px;
	height: 20px;
	background-color: var(--clr-greyscale-600);
	display: block;
	position: absolute;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	left: 0;
	top: 0;
	transform: translate(-20%, 75%) rotate(-45deg);
	-webkit-transform: translate(-20%, 75%) rotate(-45deg);
	-moz-transform: translate(-20%, 75%) rotate(-45deg);
	-ms-transform: translate(-20%, 75%) rotate(-45deg);
	-o-transform: translate(-20%, 75%) rotate(-45deg);
	z-index: -1;
	/* outline: 2px solid red; */
}

.header__content h2 {
	font-size: 1.33rem;
	font-weight: 500;
	letter-spacing: 0.02rem;
}

.header__content p {
	font-size: 1rem;
	opacity: 0.8;
}

.profile-pic {
	width: 50px;
	height: 50px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background-image: url("https://njiah.ru/pussy/100/100");
	background-size: 150%;
	background-position: center center;
	border: 2px solid white;
}

#chatBox {
	background-color: var(--clr-greyscale-800);
	color: var(--clr-greyscale-000);
	padding: 2rem;
	overflow: auto;
	height: 500px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#chatBox::-webkit-scrollbar {
	appearance: none;
	width: 5px;
}

#chatBox::-webkit-scrollbar-thumb {
	width: 5px;
	background-color: var(--clr-primary-orange);
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}

#chatBox .message-content {
	background-color: var(--clr-greyscale-600);
	padding: 1rem;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.message {
	display: flex;
	gap: 1.5rem;
}

.new-message {
	animation: newmessage 500ms ease-out forwards;
	-webkit-animation: newmessage 500ms ease-out forwards;
	transform-origin: 100% 100%;
}

@keyframes newmessage {
	from {
		opacity: 0;
		transform: translate(0, 150%);
		-webkit-transform: translate(0, 150%);
		-moz-transform: translate(0, 150%);
		-ms-transform: translate(0, 150%);
		-o-transform: translate(0, 150%);
	}

	to {
		opacity: 1;
		transform: translate(0, 00%);
		-webkit-transform: translate(0, 00%);
		-moz-transform: translate(0, 00%);
		-ms-transform: translate(0, 00%);
		-o-transform: translate(0, 00%);
	}
}

.message-content {
	display: flex;
	flex-direction: column;
	gap: 0.33rem;
}

.msg-name {
	font-size: 0.66rem;
	font-weight: 600;
	opacity: 0.8;
}

.msg-text {
	font-size: 0.88rem;
	font-weight: 300;
	white-space: balance;
}

footer {
	background-color: var(--clr-greyscale-600);
	color: var(--clr-greyscale-000);
	position: relative;
}
.anoying-cookie {
	position: absolute;
	background-color: var(--clr-greyscale-600);
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: flex;
	padding: 2rem;
	overflow: clip;
	flex-direction: column;
	gap: 2rem;
	transition: opacity 500ms, transform 500ms ease-out 100ms;
	-webkit-transition: opacity 500ms, transform 500ms ease-out 100ms;
	-moz-transition: opacity 500ms, transform 500ms ease-out 100ms;
	-ms-transition: opacity 500ms, transform 500ms ease-out 100ms;
	-o-transition: opacity 500ms, transform 500ms ease-out 100ms;
}

.anoying-cookie:has(#isCookieVisible:checked) {
	user-select: none;
	pointer-events: none;
	transform: translate(0, 100%);
	-webkit-transform: translate(0, 100%);
	-moz-transform: translate(0, 100%);
	-ms-transform: translate(0, 100%);
	-o-transform: translate(0, 100%);
}
.anoying-cookie p {
	font-size: 1rem;
	line-height: 150%;
	opacity: 0.7;
}

.cookie-button {
	width: fit-content;
	background-color: transparent;
	color: var(--clr-primary-orange);
	border: 1px solid var(--clr-primary-orange);
	padding: 1rem 2rem;
	font-size: 1.22rem;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	transition: outline 300ms, box-shadow 300ms, scale 300ms;
	-webkit-transition: outline 300ms, box-shadow 300ms, scale 300ms;
	-moz-transition: outline 300ms, box-shadow 300ms, scale 300ms;
	-ms-transition: outline 300ms, box-shadow 300ms, scale 300ms;
	-o-transition: outline 300ms, box-shadow 300ms, scale 300ms;
	cursor: pointer;
}

.cookie-button:hover {
	outline: 2px solid var(--clr-primary-orange);
	box-shadow: var(--clr-primary-orange) 0px 3px 8px;
}
.cookie-button:active {
	scale: 0.95;
}

#chatForm {
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 2rem;
}

.message:last-of-type {
	margin-bottom: 8rem;
}

#chatForm input {
	background-color: transparent;
	border: 1px solid var(--clr-primary-orange);
	font-size: 1rem;
	color: var(--clr-primary-orange);
	padding: 1rem;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	-ms-border-radius: 200px;
	-o-border-radius: 200px;
	grid-column: 1/2;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
	-moz-transition: box-shadow 300ms;
	-ms-transition: box-shadow 300ms;
	-o-transition: box-shadow 300ms;
}

#chatForm input:nth-child(1) {
	width: fit-content;
}

#chatForm input::placeholder {
	color: var(--clr-primary-orange);
	opacity: 0.5;
}

#chatForm input:focus {
	outline: 2px solid var(--clr-primary-orange);
	color: var(--clr-primary-orange);
	box-shadow: var(--clr-primary-orange) 0px 3px 8px;
}

#chatForm button {
	background-color: var(--clr-primary-orange);
	color: var(--clr-greyscale-000);
	padding: 1rem 3rem;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	-ms-border-radius: 200px;
	-o-border-radius: 200px;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 0.05rem;
	transition: box-shadow 300ms, scale 300ms;
	-webkit-transition: box-shadow 300ms, scale 300ms;
	-moz-transition: box-shadow 300ms, scale 300ms;
	-ms-transition: box-shadow 300ms, scale 300ms;
	-o-transition: box-shadow 300ms, scale 300ms;
}
#chatForm button:active {
	scale: 0.95;
}

#chatForm button:hover {
	box-shadow: var(--clr-primary-orange) 0px 3px 8px;
}
